.main-contact {
  display: flex;
  height: 48rem;
  background-color: $Peach;
  margin-bottom: 10rem;
  border-radius: 1.5rem;
  align-items: center;
background-image: url('/images/contact/desktop/bg-pattern-hero-desktop.svg');
background-repeat: no-repeat;
  gap: 5rem;
  padding: 9.5rem 5.5rem;
}
.main-contact__content {
  width: 54rem;
  height: 18rem;
  padding-left: 7rem;
}
.main-contact__title {
  text-transform: none;
  color: $WHITE;
  padding-bottom: 3rem;
}
.main-contact__text {
  color: $WHITE;
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 300;
}
.input-content {
  width: 38rem;
  height: 37rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}
input,
textarea {
  border: none;
  background-color: transparent;
  outline-width: 0;
  border-bottom: 1px solid $WHITE;
  height: 5rem;
  opacity: 0.6;
  &:hover{
    border-bottom: 2px solid $WHITE;
    opacity: 1;
  }
}
::placeholder {
  color: $WHITE;
  opacity: 0.7;
}
textarea {
  height: 10rem;
  width: 38rem;
}
.name {
}
.email {
}
.tel {
}
.coment {
}
button {
  border: none;
  background-color: transparent;
}
.btn-input {
  width: 15.6rem;
  height: 5.5rem;
  text-transform: uppercase;
  padding: 1.7rem 4.7rem;
  background-color: $WHITE;
  border-radius: 1.5rem;
  margin-top: 2rem;
  &:hover{
    background-color: $LIGHT-PEACH;
    color: $WHITE;
  }

  
}
form:last-child{
    text-align: end;
}
.btn-submit{
    width: 38rem;
}